body {
    background-image: url("../images/background.jpg");
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texthome{
    color: white;
    font-size: 40px;
    margin-left: 100px;
}

.containerdata{
    background-color: white;
    border-radius: 3px;
    padding: 15px 15px 15px 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.img-tbl{
    max-width: 100px;
}

.img-tbl{
    max-width: 100px;
}

.maximum{
    max-width: 100px;
}
